.sliderCard{
    min-width:22rem;
    max-width:22rem;
    height:32rem;
    border:1px solid grey;
    text-align: center;
    margin: auto 27px 40px 27px;
}

.sliderCard:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,253);
}




.innerCard{
    /* border: 2px solid black; */
    width: 15rem;
    margin: auto;
    transform: translateY(-50%);
    background-color: white;
}

.innerP1{
    margin-top: 20px;
    font-size: 1.5rem;
}

.innerP2{
    font-size: .9rem;
    color:#98ca3c ;
    
}

.cardTitle{
    font-size: larger;
    font-weight: 500;
    transform: translateY(-170%);
}

.cardContent{
    color: grey;
    font-size: 1rem;
    transform: translateY(-30%);
    padding-left: 15px;
    padding-right: 15px;
}

.button{
    transform: translateY(-70%);
}


/* SLIDER.JS */

.slide{
    position: relative;
    /* overflow: hidden; */
}

.crd{
    padding: 0 20px;
    display: flex;
    scroll-behavior: smooth;
    overflow: hidden;
}


.overflow{
    overflow: hidden;
}
.cardImage{
    transform: scale(1);
    transition: transform 0.9s ease;
}

.cardImage:hover{
    transform: scale(1.8);
}

.TheBlog{
    text-align: center;
}

.TheBlog p{
    text-align: center;
    padding-top: 5rem;
    color: grey;
    font-size: 15px;
}

.TheBlog h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 1rem;
}