.heading h6 {
  text-align: center;
  padding-top: 5rem;
  color: grey;
  font-size: 15px;
}

.heading h4 {
  text-align: center;
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
}

.product {
  position: relative;
  overflow: hidden;
  padding-top: 35px;
  scroll-behavior: smooth;
}

.CarouselCards {
  padding: 0 10px;
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
}

.trendingProduct {
  padding: 0 10px;
  scroll-behavior: smooth;
  overflow: hidden;
}

.btnPrev,
.btnNext {
  border: none;
  width: 30px;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.btnNext {
  right: 0;
}

.btnNext p,
.btnPrev p {
  font-size: 25px;
  background-color: rgba(254, 154, 0);
  color: black;
}
